{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Esta seguro de borrar este post?" confirm=confirm}}

    <p>Estas por borrar el post "<strong>{{model.title}}</strong>".<br />Esto es permanente! Sin backup, sin restauracion, sin el boton magico deshacer. <br /> Estas advertido, ok?</p>

{{/gh-modal-dialog}}
