{{#gh-modal-dialog action="closeModal" type="action" style="wide"
    title="Desea realemente borrar todo el contenido de tu blog?" confirm=confirm}}

    <p>Esto es permanente! Sin backup, sin restauracion, sin el boton magico deshacer. <br /> Estas advertido, ok?</p>

{{/gh-modal-dialog}}
