{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Esta seguro que quiere dejar esta pagina?" confirm=confirm}}

    <p>Hola! Parece que estás en el medio de escribir algo y no se ha guardado todo su contenido.</p>

    <p>Guardar antes de salir!</p>

{{/gh-modal-dialog}}
