{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Tranferir Propiedad" confirm=confirm}}

    <p>¿Seguro que deseas transferir la propiedad de este blog? Usted no será capaz de deshacer esta acción.</p>

{{/gh-modal-dialog}}
