{{#if noPosts}}
<div class="no-posts">
    <h3>No has escrito ningun Post!</h3>
    {{#link-to "editor.new"}}<button type="button" class="btn btn-green btn-lg" title="New Post">Crea un nuevo Post</button>{{/link-to}}
</div>
{{/if}}
